$colors: (
  primary: (
    100: hsl(82, 81%, 74%),
    200: hsl(82, 81%, 64%),
    300: hsl(82, 100%, 64%),
    400: hsl(94, 95%, 34%),
    500: hsl(106, 100%, 32%),
  ),
  secondary: (
    100: hsl(264, 96%, 92%),
    200: hsl(264, 96%, 82%),
    300: hsl(264, 96%, 72%),
    400: hsl(264, 96%, 52%),
    500: hsl(264, 96%, 22%),
  ),
  accent: (
    100: hsl(311, 66%, 22%),
    200: hsl(311, 66%, 32%),
    300: hsl(311, 66%, 42%),
    400: hsl(311, 66%, 52%),
    500: hsl(311, 66%, 62%),
    600: hsl(311, 66%, 82%),
  ),
  contrast: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 18%),
    750: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 5%),
  ),
);
