@use "sass:map";

$breakpoints: (
  xs: 300px,
  small: 500px,
  medium: 880px,
  large: 1024px,
  xl: 1600px
);

@mixin mq($key){
  $size: map.get($breakpoints, $key);

  @media screen and (min-width: $size){
      @content;
  }
}